annotated-doc==0.0.3
annotated-types==0.7.0
anyio==4.11.0
argcomplete==3.6.3
boto3==1.40.64
boto3-stubs==1.40.59
botocore==1.40.64
botocore-stubs==1.40.64
click==8.3.0
colorama==0.4.6
fastapi==0.120.4
filestore==0.1.0
h11==0.16.0
idna==3.11
jmespath==1.0.1
packaging==25.0
pipx==1.8.0
platformdirs==4.5.0
pydantic==2.12.3
pydantic_core==2.41.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
s3transfer==0.14.0
six==1.17.0
sniffio==1.3.1
starlette==0.49.3
types-awscrt==0.28.2
types-s3transfer==0.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
userpath==1.9.2
uvicorn==0.38.0
